#head-jumbotron {
    margin: 1rem 1rem 0 1rem;
    background-color: #4280a5;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1.5rem;
    font-weight: 550;
    line-height: 2;
    padding: .5rem;
}

#techs-jumbotron {
    margin-top: 1rem;
    padding-top: .25rem;
    background-color: #033a0b;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1.5rem;
    font-weight: 550;
    line-height: 2;
}

#practiced-jumbotron {
    margin-top: 1rem;
    padding-top: .25rem;
    background-color: #a0620b;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1.5rem;
    font-weight: 550;
    line-height: 2;
}

.listHead {
    font-size: 32px;
    font-weight: 700
}